/* Write your global styles here, in PostCSS syntax */

@tailwind base;
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-blue: #4f46e5;
	/* Accessible blue */
	--color-violet: #9333ea;
	/* Accessible violet */
}

.bg-gradient-theme {
	background-image: linear-gradient(to right, var(--color-blue), var(--color-violet));
}

@tailwind components;

@tailwind utilities;
